<h2>Patient Page!</h2>

<form action="/patient/" method="post">
  <div class="form-group">
    Please enter your name as it appears in our files. <br>
    <label for="patient_name">Name:</label>
    <input id="patient_name" name="patient_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<a href="/">Back to the homepage.</a>
